
@page "/login"
@inject IHttpClientFactory ClientFactory
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage Storage
<h3>Login</h3>

<EditForm Model="@User" OnValidSubmit="@Submit">
    <DataAnnotationsValidator />

    <p>
        <label for="Email">Email</label>
        <InputText id="Email" @bind-Value="User.Email" />
        <ValidationMessage For="() => User.Email" />
    </p>
    <p>
        <label for="Password">Password</label>
        <InputText id="Password" @bind-Value="User.Password" />
        <ValidationMessage For="() => User.Password" />
    </p>

    <button type="submit">Kaydet</button>
</EditForm>


@code {
    public ProjectUnluCo.Models.LoginModel User = new();
    private async Task Submit()
    {

        var client = ClientFactory.CreateClient();

        var response = await client.PostAsJsonAsync("http://localhost:3000/api/login", User);


        if (response.IsSuccessStatusCode)
        {

            string token = await response.Content.ReadAsStringAsync();
            await Storage.SetAsync("token", token);


        }
    }
}
