
@page "/logout"
@using Blazored.LocalStorage;
@inject ILocalStorageService Storage
@inject IJSRuntime js
@inject NavigationManager NavigationManager

<br />
<br />
<br />
<EditForm Model="@model" OnValidSubmit="@Submit">
    <button class="btn btn-danger btn-block"> Are You Sure? =/ Logout </button>

</EditForm>
@code {
    public ProjectUnluCo.Models.LoginModel model = new();

    private async Task Submit()
    {

        var userName = await Storage.GetItemAsStringAsync("username");
        if (userName != null)
        {
            await Storage.RemoveItemAsync("username");
            await js.InvokeVoidAsync("alert", "Logged Out. See You");
            NavigationManager.NavigateTo("/");
        }
        else {
            await js.InvokeVoidAsync("alert", "Not Logged In");
            NavigationManager.NavigateTo("login");
        }
    }

}
