@page "/profile"
@using Blazored.LocalStorage;
@inject ILocalStorageService Storage
<h3>My Profile</h3>

<br />
<br />
<div class="card" style="width: 18rem;">
    
    <div class="card-body">
        <h5 class="card-title">Welcome @offer.UserName</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    
    <div class="card-body">
        <a href="offermade" class="card-link">Offers Made</a>
        <a href="myproducts" class="card-link">My Products</a>
        <a href="comingoffer" class="card-link">Coming Offer</a>
        
    </div>
</div>

@code {
    ProjectUnluCo.Models.Offer offer = new();
    ProjectUnluCo.Models.LoginModel model = new();
    protected override async Task OnInitializedAsync()
    {
        var userName = await Storage.GetItemAsStringAsync("username");

        if (userName != null)
        {
            model.Username = userName.ToString();

            offer.UserName = model.Username;

        }
       


    }

}
