@page "/offermade"
@using Blazored.LocalStorage;
@inject ILocalStorageService Storage
@inject HttpClient Http
@using System.Net.Http.Json
<h3>Offers Made</h3>

    <a class="btn btn-info" href="/addproduct">Create New</a>
    <br />

   
        <table class="table">
            <thead>
                <tr>

                    <th>Product Name</th>
                    <th>Offer Price</th>
                    <th>Original Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var off in offer)
                {
                    <tr>

                        
                        <td>@off.UserName</td>
                        <td>@off.ProductId</td>
                    </tr>
                }
                </tbody>
        </table>
    

    @code {
      
        public List<ProjectUnluCo.Models.Offer> offer = new();
        ProjectUnluCo.Models.Offer offer2 = new();
        ProjectUnluCo.Models.LoginModel model = new();
        ProjectUnluCo.Models.Product Product = new();

        protected override async Task OnInitializedAsync()
        {
            var userName = await Storage.GetItemAsStringAsync("username");

            if (userName != null)
            {
                model.Username = userName.ToString();

                offer2.UserName = model.Username;
               
                offer = await Http.GetFromJsonAsync<List<ProjectUnluCo.Models.Offer>>("http://localhost:3000/api/MyProfile/name?name=" + offer2.UserName);

            }

        }


    }
